<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name><![CDATA[eupagomb]]></name>
    <displayName><![CDATA[euPago - Multibanco]]></displayName>
    <version><![CDATA[1.8.8]]></version>
    <description><![CDATA[Allows your customers to pay with Multibanco entity and reference.]]></description>
    <author><![CDATA[euPago]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
